:root{--primary-color:#00aaff;--secondary-color:#000;--text-color:white;--accent-color:#8bff5d;--accent-color-2:#b074ff;--accent-color-3:#ff62dd;--heading:'Iceland',sans-serif;--body:"Electrolize",sans-serif}
body,html{height:100%;margin:0;overflow-x:hidden;scrollbar-width:none}
footer,header,main{position:relative;z-index:2}
.bg-image{position:fixed;top:0;left:0;width:100%;height:100%;background-image:url(../images/spotlight.webp);background-size:cover;background-position:top;background-attachment:scroll;z-index:1}
.top{display:none}
.hero{display:flex;position:relative;flex-direction:column;justify-content:center;align-items:center;text-align:center}
.active{color:var(--primary-color)}
.drop,h1,h2,h3{font-family:var(--heading);text-align:center;font-size:2rem;padding:1.5rem 0 1rem 0;margin:0 0 1rem 0}
.drop,h2,h3{color:var(--primary-color)}
h1{color:var(--primary-color);}
h3{color:var(--accent-color);}
p{font-family:var(--body);color:var(--text-color);text-align:center;font-size: 1.25rem;}
.section-divider{border:none;height:.35rem;background:linear-gradient(to right,var(--accent-color) 0,var(--accent-color-3) 15%,var(--accent-color-2) 25%,var(--accent-color-2) 40%,var(--primary-color) 50%,var(--accent-color-2) 60%,var(--accent-color-2) 70%,var(--accent-color-3) 80%,var(--accent-color) 100%);margin:2.5rem 0}
nav a:hover{color:var(--accent-color);}
/*===MOBILE===*/
header .logo-home{display: flex; justify-content: center; align-items: center;}
.logo-home img {max-width: 50%; height: auto;margin-top: 1rem;}
.mobile-header{display:flex;position:fixed;justify-content:center;bottom:0;left:0;right:0;background:var(--secondary-color);align-items:center;padding:.5rem 0 1rem 0;z-index:10000;font-family:Arial,sans-serif;}
.mobile-header .burger{font-size:30px;color:var(--primary-color);background:0 0;border:none;margin:0;cursor:pointer;user-select:none;padding-bottom:.25rem}
.mobile-nav{position:fixed;bottom:80px;left:0;right:0;background:var(--secondary-color);max-height:0;overflow:hidden;transition:max-height .3s ease;z-index:999}
.mobile-nav.active{max-height:70vh;overflow-y:auto}
.mobile-nav ul{margin:0;padding:10px 0;list-style:none;display:flex;flex-direction:column}
.mobile-nav .active{color:var(--primary-color);}
.mobile-nav a{display:block;padding:10px 20px;text-decoration:none;color:var(--text-color);font-size:1.25rem}
.mobile-nav a:hover{display:block;color:var(--accent-color);font-weight:700}
.burger.close{transform:scale(1.5)}
.menu-container{display:flex;flex-direction:column;align-items:center;width:min-content}
.menu-link{font-family:var(--body);color:var(--text-color);font-size:1rem;text-decoration:none}
.booking-container a{display:flex;flex-direction:column;align-items:center;text-decoration:none}
.booking-container img.booking{width:50px;height:auto}
.booking-container .book-link{font-size:1rem;color:#fff}
.mobile-header .logo{max-width:60%;height:auto}
.party-book{max-width:800px;}
.logo-link{display:inline-flex;justify-content:center;width: 225px;line-height:0;text-decoration:none;flex-shrink:0;}
/*===LANDING PAGE===*/
.welcome{margin-top:2rem;}
.desktop-locations{display:none;}
.custom-dropdown{position:relative;width:min(90vw,320px);margin:1rem auto;display:inline-block}
.custom-dropdown::before{content:'';position:absolute;inset:-2px;border-radius:10px;background:linear-gradient(45deg,#b65df5,#fffb00,#48ff00,#00ffd5,#002bff,#b65df5);background-size:500%;filter:blur(5px);animation:glowing 20s linear infinite;z-index:0}
@keyframes glowing{
0%{background-position:0 0}
50%{background-position:400% 0}
100%{background-position:0 0}
}
.custom-dropdown>button{width:100%;padding:.75rem 1.2rem;font-family:var(--body);font-size:1.25rem;background:#111;color:var(--text-color,#fff);border:none;border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,.6);cursor:pointer;position:relative;z-index:2}
.custom-dropdown>ul{position:absolute;top:calc(100% + 6px);left:0;width:100%;font-family:var(--body);background-color:#000;color:var(--text-color,#fff);border-radius:10px;box-shadow:0 8px 20px rgba(0,0,0,.5);margin:0;padding:.25rem 0;list-style:none;z-index:3}
.custom-dropdown>ul[hidden]{display:none!important}
.custom-dropdown>ul li{padding:.9rem 1rem;line-height:1.2;cursor:pointer;font-size:1.25rem}
.custom-dropdown>ul li:focus,.custom-dropdown>ul li:hover{color:var(--secondary-color);background:var(--primary-color);font-weight:700}
.custom-dropdown::before{z-index:0}
.custom-dropdown>button{z-index:2}
.custom-dropdown>ul{z-index:3}
.card-content{padding:1.5rem;text-align:center}
.card-content h3{font-family:var(--heading);font-size:1.8rem;color:var(--primary-color);margin-bottom:.5rem}
.card-content p{font-family:var(--body);font-size:1rem;color:var(--text-color);opacity:.85;margin-bottom:1rem}
.hero-text{display:flex;justify-content:center;font-family:var(--body);font-size:1rem;line-height:1.6;color:var(--text-color);max-width:800px;text-align:center;background-color:rgba(0,0,0,.8);border-radius:3rem;padding:1rem}
.rotating-features{padding:2rem 1rem 4rem 1rem;overflow:hidden}
.rotating-features .section-title{font-family:var(--heading);padding:1rem 0 2rem 0;text-align:center;color:var(--primary-color);margin-bottom:2rem}
.features-marquee{width:100%;overflow:visible;position:relative;perspective:1000px}
.marquee-track{display:flex;width:max-content;animation:marquee 40s linear infinite;transform-style:preserve-3d}
@keyframes marquee{
from{transform:translateX(0)}
to{transform:translateX(-50%)}
}
.pause-marquee {animation-play-state: paused !important;}
.feature-card{flex:0 0 auto;margin:0 1rem;border-radius:0 3rem 3rem 3rem;padding:2rem 3rem;width:150px;height:150px;color:var(--text-color);position:relative;box-shadow:0 0 15px rgba(0,217,255,.3);overflow:visible;transform-style:preserve-3d;transform:translateZ(0);transition:transform .6s cubic-bezier(.05,.8,.2,1);will-change:transform;perspective:1000px}
.feature-card::before{content:"";position:absolute;inset:0;border-radius:inherit;padding:3px;background:linear-gradient(135deg,#f0c,#33f,#76d450,#f0c);background-size:300% 300%;animation:borderFlow 6s linear infinite;-webkit-mask:linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);-webkit-mask-composite:xor;mask-composite:exclude;z-index:-1}
.feature-card .card-text{font-family:var(--heading),sans-serif;font-size:1.5rem;background-color:var(--secondary-color);border:4px solid var(--accent-color);border-radius:0 1rem 1rem 1rem;box-shadow:0 5px 10px var(--secondary-color);color:var(--primary-color);font-weight:700;text-align:center;position:absolute;bottom:1.5rem;right:30%;transform:translateX(0);backface-visibility:hidden;padding:.5rem 1rem;z-index:2}
.feature-card:hover .card-text{transform:translateZ(20px) rotateX(3deg)}
@keyframes borderFlow{
0%{background-position:0 50%}
50%{background-position:100% 50%}
100%{background-position:0 50%}
}
.fly{background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/soft-play.webp) center/cover no-repeat}
.tramp{background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../images/dodge-ball.jpg) center/cover no-repeat}
.foam{background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../images/foam-jump.jpg) center/cover no-repeat}
.games{background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../images/arcade.jpg) center/cover no-repeat}
.park{background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/ninja-course.webp) center/cover no-repeat}
.party{background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(../images/private-lg.webp) center/cover no-repeat}
.select-btn{display:inline-block;padding:.7rem 1.5rem;font-size:1rem;font-family:var(--heading);color:var(--text-color);background:var(--accent-color-2);border:none;border-radius:50px;text-decoration:none;box-shadow:0 0 10px var(--accent-color-2),0 0 20px var(--accent-color-2);transition:all .3s ease}
.select-btn:hover{background:var(--accent-color);box-shadow:0 0 15px var(--accent-color),0 0 30px var(--accent-color);transform:scale(1.05)}
/*===FEATURE PAGE===*/
.slider-features {height:500px;margin:0;display:grid;grid-template-columns:1fr 30px 30px 30px 30px 30px 1fr;align-items:center;justify-items:center;position:relative;}
.carousel {grid-row:1/2;grid-column:1/8;width:100vw;height:500px;display:flex;align-items:center;justify-content:center;overflow:hidden;transform-style:preserve-3d;perspective:600px;--items:5;--middle:3;--position:1;pointer-events:none;}
.item {position:absolute;width:2px;height:350px;border-radius:12px;background-color: black;--r:calc(var(--position) - var(--offset));--abs:max(calc(var(--r)*-1),var(--r));transition:all .25s linear;transform:rotateY(calc(-10deg*var(--r))) translateX(calc(-300px*var(--r)));z-index:calc((var(--position) - var(--abs)));overflow:hidden;}
.item img{width:90%;height:60%;margin: auto auto auto .66rem;object-fit: contain;}
.item::before{content:"";position:absolute;inset:0;border-radius:inherit;padding:3px;background:linear-gradient(135deg,#f0c,#33f,#76d450,#f0c);background-size:300% 300%;animation:borderFlow 6s linear infinite;-webkit-mask:linear-gradient(#000 0 0) content-box,linear-gradient(#000 0 0);-webkit-mask-composite:xor;mask-composite:exclude;z-index:-1}
input[type=radio]{display:none;}
input:nth-of-type(1):checked ~ .carousel{--position:1;}
input:nth-of-type(2):checked ~ .carousel{--position:2;}
input:nth-of-type(3):checked ~ .carousel{--position:3;}
input:nth-of-type(4):checked ~ .carousel{--position:4;}
input:nth-of-type(5):checked ~ .carousel{--position:5;}
input:nth-of-type(6):checked ~ .carousel{--position:6;}
input:nth-of-type(7):checked ~ .carousel{--position:7;}
input:nth-of-type(8):checked ~ .carousel{--position:8;}
input:nth-of-type(9):checked ~ .carousel{--position:9;}
.arrow {position:absolute;top:45%;transform:translateY(-50%);background:rgba(176, 116, 255, 0.4);color:#fff;border:none;cursor:pointer;font-size:2rem;padding:.5rem 1rem;z-index:3;transition:background .3s;}
.arrow:hover{background:rgba(139, 255, 93, 0.7);}
.arrow.left{left:20px;}
.arrow.right{right:20px;}
/*===FOOTER===*/
.site-footer{position:relative;left:0;background-color:#000;color:var(--text-color);padding:1rem 0 1rem 0;font-family:Oswald,sans-serif;font-size:1.25rem;border-top:2px solid #444;width:100%;height:175px;overflow:hidden;z-index:100}
.footer-content{max-width:1200px;margin:0 auto;display:flex;flex-direction:column;gap:1rem;align-items:center;text-align:center}
.footer-links{display:flex;flex-wrap:wrap;justify-content:center;gap:.5rem;line-height:1.3}
.footer-links span{flex-basis:100%;color:var(--text-color)}
.site-footer a{color:var(--accent-color);text-decoration:none;transition:color .3s ease}
.site-footer a:hover{color:#1da1f2;text-decoration:underline;}
/*===PRICES PAGE===*/
.rates-specials{padding:1rem 0 2rem 0;max-width:1200px;margin:1rem 2rem;}
.section-title h2{font-family:var(--heading);font-size:2rem;margin-bottom:1.5rem;color:var(--primary-color);text-align:center}
.flex-column{display:flex; flex-direction:column;align-items:stretch;gap:2.5rem}
.price-card{position:relative;background-color:#000;border-radius:12px;padding:1.5rem;text-align:center;box-shadow:0 0 15px var(--primary-color);transition:transform .3s ease,box-shadow .3s ease;overflow:hidden}
.price-card::before{content:"";position:absolute;inset:0;background-image:url(../images/pheonix.webp);background-size:contain;background-repeat:no-repeat;background-position:center;opacity:.15;z-index:0}
.price-card>*{position:relative;z-index:1}
.price-card:hover{transform:translateY(-6px);box-shadow:0 0 25px var(--accent-color)}
.price-card h3{font-family:var(--body);font-size:1.5rem;color:var(--accent-color-2);text-shadow: 1px 1px 1px #ff62dd;padding: 0;}
.price-card .price{font-size:1.4rem;color:var(--accent-color);margin:.5rem 0}
.price-card span{font-size:1.4rem;color:var(--text-color);opacity:.8}
.note{font-size:1rem;color:var(--text-color);opacity:.9;}
.focus{line-height: 1.7;}
.specials-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));justify-content:center;align-items:stretch;gap:2.5rem}
.special-card{position:relative;background-color:#000;border-radius:0 50px 50px 50px;padding:1rem;text-align:center;box-shadow:0 0 15px var(--primary-color);transition:transform .3s ease,box-shadow .3s ease;overflow:hidden}
.special-card>*{position:relative;z-index:1}
.special-card:hover{transform:translateY(-6px);box-shadow:0 0 25px var(--accent-color)}
.special-card h3{font-family:var(--body);font-size:1.5rem;margin-bottom:.5rem;padding: 0;}
.special-card h2{font-size: 2.25rem;}
.special-card p{font-size:1.40rem;color:var(--text-color);margin-bottom:1rem;line-height:1.7;}
/*===CONTACT PAGE===*/
.contact-wrapper{display:flex;flex-direction:column;align-items:center;max-width:1000px;margin:0 auto}
.contact-container,.map-container{flex:1 1 100%;min-width:0;max-width:500px}
.contact-location h3{margin-bottom:0; padding-bottom: 0;}
.map-container iframe{height:250px;filter:brightness(75%);margin-top:1rem}
.contact-form form{display:flex;flex-direction:column;gap:.25rem;max-width:300px;width:100%;margin:0 auto 2rem auto;padding:1rem;background-color:#1a1a1a;border-radius:12px;box-shadow:0 0 20px var(--primary-color)}
.contact-form input,.contact-form textarea{width:100%;box-sizing:border-box;padding:.8rem 1rem;font-family:var(--body);font-size:.75rem;border:2px solid var(--primary-color);border-radius:8px;background-color:rgba(71,71,71,.527);color:var(--text-color);transition:all .3s ease}
.contact-form textarea{min-height:8rem}
.contact-form label{color:var(--text-color);font-family:var(--body);font-size:1.25rem}
.contact-form input::placeholder,.contact-form textarea::placeholder{color:rgba(255,255,255,.7)}
.contact-form input:focus,.contact-form textarea:focus{outline:0;border-color:var(--accent-color);box-shadow:0 0 12px var(--accent-color)}
/*===WAIVER / TERMS / PRIVACY / HOURS===*/
iframe{width:100%;height:75vh;display:block;border:none}
figure{margin:0 0 3rem 0}
.waiver-wrapper{background-color:#dadada;display:flex;justify-self:center;padding:1rem;margin:0 auto;max-width:100%}
.waiver{width:100%;max-width:600px;max-height:500px;border:none;}
.accordion-container{max-width:900px;margin:0 auto;padding:1rem 0 3rem 0}
.accordion{border-bottom:1px solid rgba(255,255,255,.2)}
.accordion-header{width:100%;text-align:left;background:0 0;border:none;padding:1rem;font-family:var(--heading);font-size:1.75rem;color:var(--primary-color);cursor:pointer;transition:background-color .3s ease;outline-offset:2px}
.accordion-header:focus,.accordion-header:hover{background-color:rgba(255,255,255,.1);outline:2px solid var(--primary-color)}
.accordion-content{max-height:0;overflow:hidden;transition:max-height .4s ease,padding .3s ease;padding:0 1rem;color:var(--text-color);font-family:var(--body);font-size:1rem}
.accordion-content.open{max-height:1000px;padding:1rem}
.accordion-content.open a{color:var(--accent-color);max-height:1000px;}
/*===DESKTOP VIEW===*/
@media (min-width:1050px){
.welcome{margin: 9.5rem 0 0 0;padding-bottom: 0;}
.bg-image{background-image:url(../images/spotlight.webp);z-index:1}
.logo-home img {max-width: 75%; height: auto;}
.mobile-header,.mobile-nav{display:none}
.top{display:block}
.top{display:flex;position:fixed;width:100%;height:80px;background-color:#000;justify-content:center;align-items:center;padding:1rem 0;z-index:1000;top:0}
.top nav ul{display:flex;list-style:none;margin:0;padding:0;gap:25px}
.top nav ul li a{font-family:var(--body);color:#fff;text-decoration:none;font-size:1rem;font-weight:500;transition:color .3s ease}
.top nav ul li a{font-size:1.5rem}
.logo{max-width:55%;height:auto;display:block}
.main{max-width:75%;height:auto;display:block}
h1{margin-top:8rem;margin-bottom:2rem}
.drop,h1,h2,h3{font-size:2.75rem}
#level-up{margin: 2rem 0 2rem 0;}
p{font-size:1.25rem}
.hero-text{font-size:1.5rem}
.custom-dropdown{display:none}
.feature-section{flex-direction:row;align-items:stretch;min-height:350px;margin:3rem auto;box-shadow:0 0 20px rgba(0,217,255,.3)}
.feature-section.reverse{flex-direction:row-reverse}
.feature-image{flex:1 1 50%;min-height:auto}
.feature-text{flex:1 1 50%;text-align:left;padding:2rem 3rem}
.feature-text h3{font-size:2.5rem}
.feature-text p{font-size:1.5rem}
.feature-card{width:250px;height:250px;}
.pricing-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(300px,1fr));justify-content:center;align-items:stretch;gap:1.5rem}

.site-footer{font-size:2rem;height:40px}
.site-footer a{padding:0 1rem}
.footer-content{flex-direction:row;justify-content:center;text-align:left}
.footer-legal,.footer-links{font-size:1.25rem;flex-direction:row;justify-content:flex-start;text-align:left}
.footer-legal span,.footer-links span{flex-basis:auto;margin-right:10px}
.specials-grid{display:grid;grid-template-columns:repeat(5,minmax(250px,1fr));justify-content:center;align-items:stretch;gap:1.5rem}
.special-card h2{font-size: 3rem;}
.hours-container{max-width:1000px;margin:0 auto 2rem auto}
.hours-container .accordion-header{text-align:center}
.waiver{margin-top:3rem}
.form-wrapper{margin-bottom:3rem}
.accordion-header{font-size:2.5rem}
.accordion-content ul{list-style-type:none}
.accordion-content li,.accordion-content p{font-size:1.25rem}
.contact-hours{display:flex;justify-content:space-between;align-items:center;gap:2rem;flex-wrap:wrap}
.contact-hours .accordion{flex:1 1 300px;min-width:250px;text-align:center}
.contact-wrapper{flex-direction:row;align-items:flex-start}
.map-container iframe{aspect-ratio:16/9;position:relative}
.map-container iframe{position:relative;top:0;left:0;width:100%;height:100%;border:0}
.contact-form form{gap:.25rem;max-width:500px;width:100%;padding:1.5rem}
.contact-form input,.contact-form textarea{font-size:1rem}
.contact-form label{font-size:1rem}
.contact-form button{font-size:1.5rem}
.section-title h2{font-size:2.25rem}
.price-card h3{font-size:2rem}
.special-card h3{font-size:1.75rem}
.rates-specials{margin:0 auto;}
.note,.price-card p,.price-card span,.rates-special p,.special-card p{font-size:1.35rem}
.location-select select{position:relative;font-family:var(--body);font-size:1.2rem;padding:.75rem 1.2rem;border:none;border-radius:10px;background:#111;color:var(--text-color);cursor:pointer;z-index:1;box-shadow:0 0 10px rgba(0,0,0,.6);appearance:none;transition:all .3s ease-in-out}
.desktop-locations{display:block;text-align:center;margin-bottom:1rem}
.place-btn{position:relative;z-index:0;padding:.5rem 3rem;background:#000;color:#fff;border:none;outline:0;border-radius:8px;cursor:pointer;font-family:oswald,sans-serif;font-size:1.5rem}
.place-btn:before{content:'';background:linear-gradient(45deg,#ff62dd,#fffb00,#48ff00,#00ffd5,#002bff,#b074ff,#ff62dd);position:absolute;top:-2px;left:-2px;background-size:400%;z-index:-1;filter:blur(2px) saturate(1.8);width:calc(100% + 5px);height:calc(100% + 5px);animation:glowing 40s linear infinite;opacity:1;transition:opacity .3s ease-in-out;border-radius:10px}
.place-btn::after{content:'';position:absolute;inset:0;background:#000;border-radius:8px;z-index:-1}
@keyframes glowing{
0%{background-position:0 0}
50%{background-position:400% 0}
100%{background-position:0 0}
}
.place-btn:hover{color: var(--accent-color)}
.place-content{display:none}
.width{width:200px;height:auto;text-decoration:none;}
.item{width:350px;height:450px;}
.item img{margin: auto auto auto .96rem;}
.arrow.left{left:400px;}
.arrow.right{right:400px;}
}